version: "3.3"

services:
  backend:
    build: ./backend
    container_name: exam-tp-backend
    ports:
      - "3000:3000"
    networks:
      - webnet

  frontend:
    build: ./frontend
    container_name: exam-tp-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - webnet
networks:
  webnet:
